[Desktop Entry]
Name=SkyBREAK
Comment=Activate SkyBREAK
Exec=/usr/bin/skybreak.sh
Icon=/usr/share/skybreak/skybreaklogo.jpg
Terminal=true
Type=Application