[Desktop Entry]
Name=SkyBREAK
Comment=Activate SkyBREAK
Exec=/usr/bin/skyBREAK
Icon=/usr/share/skybreak/skybreaklogo.png
Terminal=true
Type=Application
